In [2]:
#Explicit: 
my_list = [1,2,3]
my_list

[1, 2, 3]

In [4]:
#Computationally: 
my_list.append(4)
my_list

[1, 2, 3, 4, 4]

In [5]:
#List comprehension: 
my_list = [x for x in range(4)]
my_list

[0, 1, 2, 3]

In [ ]:
#Reading from a file:   with 
open(filename, 'r') as f:            
    my_list = [line.split('\n') for line in f]

In [6]:
lst = [x for x in range(10)]
rev = lst[::-1]
print(lst)
rev

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [7]:
my_list = [1,2,3,4,5,6]
my_list[2:]

[3, 4, 5, 6]

In [8]:
my_list[:2]

[1, 2]

In [9]:
my_list[::]

[1, 2, 3, 4, 5, 6]

In [10]:
my_list[::2]

[1, 3, 5]

In [11]:
lst = [x for x in range(10)]
even = lst[::2]
even

[0, 2, 4, 6, 8]

In [12]:
odd = lst[1::2]
odd

[1, 3, 5, 7, 9]

In [13]:
lst = [x for x in range(10)]
print(lst)

lst[2:5] = [0,0,0]
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 0, 0, 0, 5, 6, 7, 8, 9]

In [14]:
bit_vec = [1 for i in range(16)]
bit_vec

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [15]:
bit_vec[1::2] = [0 for i in range(8)]
bit_vec

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [16]:
arr = [[1,2,3],[4,5,6],[7,8,9]]
print(arr[1])
print(arr[1][1])

[4, 5, 6]
5

In [17]:
for row in arr:
    print('row---> ', row)
    for e in row:
        print(e)

row--->  [1, 2, 3]
1
2
3
row--->  [4, 5, 6]
4
5
6
row--->  [7, 8, 9]
7
8
9

In [18]:
arr[1][1] = 0
arr

[[1, 2, 3], [4, 0, 6], [7, 8, 9]]

In [19]:
arr = [[0 for j in range(3)] for i in range(3)]
print(arr)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [20]:
arr= [[1,2,3],[4,5,6],[7,8,8]]
arr[1][:]

[4, 5, 6]

In [21]:
print(arr)
arr[:][1]

[[1, 2, 3], [4, 5, 6], [7, 8, 8]]

[4, 5, 6]

In [ ]:
arr[:]

In [22]:
import pandas
arr = [[1,2,3],[4,5,6],[7,8,8]]
arr

[[1, 2, 3], [4, 5, 6], [7, 8, 8]]

In [23]:
df = pandas.DataFrame(data=arr,columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  8

In [24]:
df.iloc[1,1]

5

In [25]:
df.iloc[1,1] = 0
df

   a  b  c
0  1  2  3
1  4  0  6
2  7  8  8

In [26]:
df

   a  b  c
0  1  2  3
1  4  0  6
2  7  8  8

In [27]:
df.iloc[1,1] = 5
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  8

In [28]:
df.iloc[1,:]

a    4
b    5
c    6
Name: 1, dtype: int64

In [29]:
df.iloc[:,1]

0    2
1    5
2    8
Name: b, dtype: int64

In [30]:
class Dog:
    kind ='canine' 
    
    def __init__(self, name):
        self.name = name
        self.tricks=[]
        
    def __str__(self):
        return "{} can do the following tricks: {}".format(self.name, self.tricks)
    
    def add_trick(self, trick):
        self.tricks.append(trick)

In [31]:
Dog.kind

'canine'

In [32]:
fido= Dog('Fido')
buddy= Dog('Buddy')
fido.add_trick('roll over')
buddy.add_trick('play dead')

In [33]:
fido.tricks

['roll over']

In [34]:
print(buddy)

Buddy can do the following tricks: ['play dead']

In [ ]:
import os
import time

def display_array(ar):
    "clear the screen, display the contents of an array, wait for 1 sec"
    os.system('clear')
    
    rows = len(ar)
    
    if rows ==0:
        raise ValueError("Array contains no data")
        
    cols = len(ar[0])
    
    for i in range(rows):
        for j in range(cols):
            print(ar[i][j], end=' ')# no automatic carriage return, space separated
        print()
        
        time.sleep(1)

In [ ]:
arr[2][2]=9
arr

In [ ]:
display_array(arr)

In [ ]:
board = [[' ', '*', ' '], ['*', ' ', '*'], [' ', '*', ' ']]
display_array(board)